{% load staticfiles %}
{% load i18n %}
<div class="feauredvideos videoslist container">
    <h2>feautered videos</h2>
    <ul>

        <li class="pull-left">
            <div class="item">
                <div class="videomaincont">
                    <a href="#"><img src="images/videos/videoimg.jpg"/>

                        <div class="icon videoicon"></div>
                        <p class="captionoverlay">New plane almost ready for flight</p>
                    </a>
                </div>

            </div>
        </li>
        <li class="pull-left">
            <div class="item">
                <div class="videomaincont">
                    <a href="#"><img src="images/videos/videoimg2.jpg"/>

                        <div class="icon videoicon"></div>
                        <p class="captionoverlay">New plane almost ready for flight</p>
                    </a>
                </div>

            </div>
        </li>
        <li class="pull-left">
            <div class="item">
                <div class="videomaincont">
                    <a href="#"><img src="images/videos/videoimg.jpg"/>

                        <div class="icon videoicon"></div>
                        <p class="captionoverlay">New plane almost ready for flight</p>
                    </a>
                </div>

            </div>
        </li>
    </ul>
</div>
