{% load staticfiles %}
{% load i18n %}
<div class="videoslist latestadded">
    <div class="container">
        <h2>{% trans 'Latest Added' %}</h2>
        <ul>
            <li class="pull-left">
                <div class="item">
                    <div class="videomaincont">
                        <a href="#">
                            <img src="images/videos/videoimgsmall.jpg"/>
                            <div class="icon videoicon small"></div>
                            <p class="captionoverlay">New plane almost ready for flight</p>
                        </a>
                    </div>

                </div>
            </li>

        </ul>
    </div>
</div>
